
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v28-latin_cyrillic-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/raleway-v28-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/raleway-v28-latin_cyrillic-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/raleway-v28-latin_cyrillic-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/raleway-v28-latin_cyrillic-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/raleway-v28-latin_cyrillic-regular.svg#Raleway') format('svg');
    /* Legacy iOS */
}

/* raleway-500 - latin_cyrillic */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/raleway-v28-latin_cyrillic-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/raleway-v28-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/raleway-v28-latin_cyrillic-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/raleway-v28-latin_cyrillic-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/raleway-v28-latin_cyrillic-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/raleway-v28-latin_cyrillic-500.svg#Raleway') format('svg');
    /* Legacy iOS */
}

/* raleway-600 - latin_cyrillic */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/raleway-v28-latin_cyrillic-600.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/raleway-v28-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/raleway-v28-latin_cyrillic-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/raleway-v28-latin_cyrillic-600.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/raleway-v28-latin_cyrillic-600.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/raleway-v28-latin_cyrillic-600.svg#Raleway') format('svg');
    /* Legacy iOS */
}

body {
    font-family: 'Raleway', normal;
    background-color: var(--dark-blue);
    color: var(--white);
    overflow-x:hidden;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

input {
    color: inherit;
    font-family: 'Roboto', sans-serif;
}

textarea {
    color: inherit;
    font-family: 'Roboto', sans-serif;
}

:root {
    --dark-blue: #000D20;
    --blue: #1A3967;
    --light-blue: #7B9AC8;
    --orange: #ED7F22;
    --white: #FFFFFF;
    --font-size-header: 32px;
    --border-r-sc1: 24px;
    --border-r-sc2: 16px;
    --border-r-sc3: 24px;
    --border-r-sc4: 24px;
    --border-r-sc5: 24px;
    --border-r-sc1-576:16px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    visibility: none;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--light-blue);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--blue);
    border-radius: 8px;
}

.orange-text {
    color: var(--orange);
    font-weight: 700;
}

/* ------------------------------------------------------- */
.container-page {
    margin: 32px 48px 0 48px;
}

.container-header {
    position: sticky;
    top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background-color: var(--light-blue);
    border-radius: var(--border-r-sc1);
    font-weight: 500;
}

.header-logo {
    flex-grow: 1.7;
}

.heder-nav {
    flex-grow: 2;
    display: flex;
    justify-content: space-around;
}

.heder-nav-item {
    font-size: var(--font-size-header);
}

.heder-nav-item:hover {
    transition-duration: 1s;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.btn-enter-container {
    flex-grow: 1.7;
    text-align: end;
    font-size: var(--font-size-header);
}

.btn-enter {
    font-size: inherit;
    border: 1px solid var(--light-blue);
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    border-radius: var(--border-r-sc1);
    padding: 16px 32px;
}

.btn-enter:hover {
    transition-timing-function: linear;
    transition-duration: 0.2s;
    border: 1px solid var(--white);
}
.container-btn-mx576{
    display: none;
}

/* ----------------------------------- */
.conatiner-screen1 {
    padding: 0;
    font-size: 120px;
    font-weight: 600;
}
.container-text-block{
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: flex-end;
}

.screen1-textblock1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 32px 32px 40px;
    gap: 8px;
    background-color: var(--blue);
    width: 57vw;
    border-radius: var(--border-r-sc1);
}

.blue-text {
    color: var(--light-blue);
}

.container-screen1-bot {
    display: flex;
    margin-top: 32px;
}

.screen1-textblock2 {
    padding: 0 32px;
    background-color: var(--orange);
    width: 432px;
    border-radius: var(--border-r-sc1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 44px;
}
.screen1-textblock2:hover {
    transition: 0.5s;
    background-color: var(--light-blue);
}

.screen1-textblock3 {
    background-color: var(--blue);
    margin-left: 32px;
    border-radius: var(--border-r-sc1);
    width: 84vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 40px 30px 40px;
}

/* ---------------------------------------- */
.conatiner-screen2 {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}

.conatiner-screen2 h1 {
    font-size: 64px;
    font-weight: 400;
}

.screen2-line-item {
    display: flex;
    align-items: flex-end;
    margin-top: 150px;
}

.screen2-line-item .h-3 {
    font-size: 44px;
    font-weight: 500;
    line-height: 120%;

}

.screen2-line-item .h-4 {
    font-size: 32px;
    font-weight: 400;
    line-height: 120%;
    margin-top: 16px;
}

.screen2-textblock1 {
    background-color: var(--light-blue);
    border-radius: var(--border-r-sc2);
    margin-right: 32px;
    padding: 32px;
    width: 30vw;
}

.screen2-textblock2 {
    background-color: var(--blue);
    border-radius: var(--border-r-sc2);
    margin-right: 32px;
    padding: 32px;
    width: 30vw;
}

.screen2-textblock3 {
    background-color: var(--orange);
    border-radius: var(--border-r-sc2);
    padding: 32px;
    width: 30vw;
}

/* --------------------------------------- */
.conatiner-screen3 {
    margin-top: 200px;
    background-color: var(--blue);
    border-radius: var(--border-r-sc3);
    padding: 32px;
}

.conatiner-screen3 .container-h1 {
    font-size: 96px;
    font-weight: 600;
    line-height: 96px;
}

.screen3-line-item {
    margin-top: 200px;
    display: flex;
    align-items: flex-end;
    font-weight: 500;
}

.screen3-textblock1 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 36px;
    background-color: var(--white);
    border-radius: var(--border-r-sc3);
    padding: 32px 32px 24px;
    margin-right: 32px;
    width: 30vw;
}

.screen3-textblock1 .b1 {
    padding-right: 200px;
}

.screen3-textblock2 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 36px;
    background-color: var(--white);
    border-radius: var(--border-r-sc3);
    padding: 32px 32px 24px;
    margin-right: 32px;
    width: 30vw;
}

.screen3-textblock3 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 36px;
    background-color: var(--white);
    border-radius: var(--border-r-sc3);
    padding: 32px 32px 24px;
    width: 30vw;
}

.textb {
    color: var(--blue);
}

.numb {
    border-radius: 64px;
    background-color: var(--orange);
    padding: 12px 25px;
}

/* ------------------------------------------- */

.conatiner-screen4 {
    margin-top: 200px;
}

.conatiner-screen4 .container-h1 {
    font-size: 96px;
    font-weight: 600;
}

.screen4-line-item {
    display: flex;
    flex-direction: column;
}

details>summary {
    list-style: none;
    cursor: pointer;
}

.textblock4 {
    background-color: var(--light-blue);
    padding: 32px 64px 40px;
    margin-top: 32px;
    font-size: 44px;
    border-radius: var(--border-r-sc4);
    font-weight: 500;
}

.h-5 {
    font-weight: 400;
    font-size: 32px;
}

summary:before {
    content: '\FF0B';
    font-size: 72px;
    font-weight: bold;
    margin-top: 30px;
    position: absolute;
    right: 79.5px;
    font-weight: 100;
    line-height: 0;
    transform: rotate(0);
    transition: 0.5s;
}

details[open] summary:before {
    content: '\FF0B';
    transform: rotate(45deg);
    transition: 0.5s;
}

/* ------------------------------------------- */
.conatiner-screen5 {
    margin-top: 200px;
    background-color: var(--blue);
    border-radius: var(--border-r-sc5);
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

.text-form {
    flex-grow: 1;
}

.conatiner-screen5 .h-3 {
    font-size: 96px;
    font-weight: 600;
}

.conatiner-screen5 .h-4 {
    font-size: 32px;
    font-weight: 400;
}

.conatiner-screen5 form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.conatiner-screen5 input {
    background-color: var(--white);
    color: var(--blue);
    font-size: 32px;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    outline: none;
    border: none;
}

::placeholder {
    color: var(--light-blue);
}

#in3 {
    border-radius: 8px;
    font-size: 32px;
    padding: 8px;
    outline: none;
    border: none;
    margin-bottom: 16px;
    resize: none;
    color: var(--blue)
}

.conatiner-screen5 button {
    background-color: var(--orange);
    color: var(--white);
    font-size: 44px;
    padding: 15px;
    border-radius: var(--border-r-sc5);
    border: none;
    cursor: pointer;
}

.conatiner-screen5 button:hover {
    transition-timing-function: ease-out;
    transition-duration: 0.2s;
    background-color: var(--light-blue);
}

/* --------------------------------- */
footer {
    margin-top: 0px;
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    color: var(--light-blue);
    font-size: 32px;
    align-items: flex-end;
}

.license {
    flex-basis: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;

}

.doc {
    flex-basis: 1;
    flex-wrap: wrap;
    text-align: center;
    font-size: 24px;
}

.doc.d1 {
    width: 40%;
}

.d1:hover {
    transition: .2s;
    color: var(--white);
}

.icon-contact {
    flex-basis: 1;
    display: flex;
}

.icon-item {
    margin-right: 20px;
    cursor: pointer;
}

.phone:hover {
    transition: .2s;
    color: var(--white);
}

.mail:hover {
    transition: .2s;
    color: var(--white);
}

.icon-item path {
    transition: .2s;
    fill: var(--light-blue);
}

path:hover {
    transition: .2s;
    fill: var(--white);
}
/* ====================================================================================================================================================== */



/* ====================================================================================================================================================== */
@media screen and (max-width:576px) {
.container-page{
    margin: 0 24px;
    overflow-x:hidden;
}
.container-header{
    position: sticky;
    top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    border-radius: var(--border-r-sc1-576);
}
.header-logo svg{
    height: 36px
}
.container-btn-mx576{
    display: block;
    width:36.67px;
    height:16.67px;
}
.heder-nav{
    display: none;
}
.heder-nav-item{
}
.btn-enter-container{
    display: none;
}
.btn-enter{
}

/* ----------------------------------------------- */
.conatiner-screen1 {
    padding: 0 0;
    font-size: 44px;
    font-weight: 600;
}
.bc-blue{
    background-color: var(--blue);
    border-radius: var(--border-r-sc1-576);
    padding:8px 6px;
}
.blue1{
    border-radius: 16px 16px 0 0;
}
.blue2{
    border-radius: 16px 0 16px 16px;
}
.container-text-block{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 6vh;
}

.screen1-textblock1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 0 0 0;
    gap: 0;
    background-color: var(--dark-blue);
    border-radius: var(--border-r-sc1);
    text-align: left;
    margin-top: 5vh;
    width: 100%;
    line-height: 150%;
}
.bri{
    margin-right: 80%;
}
.blue-text {
    color: var(--light-blue);
}

.container-screen1-bot {
    display: flex;
    margin-top: 0;
    flex-direction: column;
}

.screen1-textblock2 {
    padding: 0 0;
    background-color: var(--orange);
    border-radius: var(--border-r-sc1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 24px 0;
    font-size: 32px;
    font-weight: 500;
    width: 100%;
    order: 1;
    margin-top: 8vh;
}
.screen1-textblock2:hover {
    transition: 0.5s;
    background-color: var(--light-blue);
}

.screen1-textblock3 {
    background-color: var(--dark-blue);
    margin-left: 0;
    border-radius: var(--border-r-sc1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 0 0 0;
    text-align: right;
    margin-top: 5vh;
    width: 100%;
    line-height: 150%;
}
/* ------------------------------------------------------- */

.conatiner-screen2 {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
}

.conatiner-screen2 h1 {
    font-size: 32px;
    font-weight: 400;
}

.screen2-line-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 50px;
}

.screen2-line-item .h-3 {
    font-size: 28px;
    font-weight: 500;
    line-height: 100%;
}

.screen2-line-item .h-4 {
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    margin-top: 16px;
}
.screen2-textblock1 {
    background-color: var(--light-blue);
    border-radius: var(--border-r-sc2);
    margin-right: 32px;
    padding: 20px;
    width: 80%;
    margin-left:8%;
}

.screen2-textblock2 {
    background-color: var(--blue);
    border-radius: var(--border-r-sc2);
    margin-right: 0;
    padding: 20px;
    width: 80%;
    margin-top: 2vh;
}

.screen2-textblock3 {
    background-color: var(--orange);
    border-radius: var(--border-r-sc2);
    padding: 20px;
    width: 80%;
    margin-top: 2vh;
    margin-left:8%;
}
/* ----------------------------------------------------- */
.conatiner-screen3 {
    margin-top: 5vh;
    background-color: var(--blue);
    border-radius: var(--border-r-sc3);
    padding: 16px;
}

.conatiner-screen3 .container-h1 {
    font-size: 32px;
    font-weight: 600;
    line-height:2rem;
}

.screen3-line-item {
    margin-top: 2vh;
    display: flex;
    align-items: flex-start;
    font-weight: 500;
    flex-direction: column;
}

.screen3-textblock1 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 24px;
    background-color: var(--white);
    border-radius: var(--border-r-sc3);
    padding: 18px;
    margin-right: 0;
    margin-top: 3vh;
    width:75%;
    text-align: left;
}

.screen3-textblock1 .b1 {
    padding-right: 0;
}

.screen3-textblock2 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 24px;
    background-color: var(--white);
    border-radius: var(--border-r-sc3);
    padding: 16px;
    margin-left: 5%;
    margin-right: 0;
    margin-top: 3vh;
    width: 75%;
}

.screen3-textblock3 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 24px;
    background-color: var(--white);
    border-radius: var(--border-r-sc3);
    padding: 16px;
    margin-left: 10%;
    margin-top: 3vh;
    width: 80%;
}

.textb {
    color: var(--blue);
}

.numb {
    border-radius: 64px;
    background-color: var(--orange);
    padding: 8px 16px;
}
/* ------------------------------------------------------------- */
.conatiner-screen4 {
    margin-top: 5vh;
}

.conatiner-screen4 .container-h1 {
    font-size: 48px;
    font-weight: 600;
}

.screen4-line-item {
    display: flex;
    flex-direction: column;
}

details>summary {
    list-style: none;
    cursor: pointer;
    width: 90%;
}

.textblock4 {
    background-color: var(--light-blue);
    padding: 16px 16px 20px;
    margin-top: 16px;
    font-size: 18px;
    border-radius: var(--border-r-sc4);
    font-weight: 500;
}

.h-5 {
    font-weight: 400;
    font-size: 18px;
}

summary:before {
    content: '\FF0B';
    font-size: 36px;
    font-weight: bold;
    margin-top:10px;
    position: absolute;
    right: 30px;
    font-weight: 100;
    line-height: 0;
    transform: rotate(0);
    transition: 0.5s;
}

details[open] summary:before {
    content: '\FF0B';
    transform: rotate(45deg);
    transition: 0.5s;
}
/* ----------------------------------------------- */
.conatiner-screen5 {
    margin-top: 5vh;
    background-color: var(--blue);
    border-radius: var(--border-r-sc5);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 16px;
}

.text-form {
    flex-grow: 1;
}

.conatiner-screen5 .h-3 {
    font-size: 36px;
    font-weight: 600;
}

.conatiner-screen5 .h-4 {
    font-size:20px;
    font-weight: 400;
    margin-top: 3vh;
}

.conatiner-screen5 form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    margin-top: 5vh;
}

.conatiner-screen5 input {
    background-color: var(--white);
    color: var(--blue);
    font-size: 16px;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    outline: none;
    border: none;
}

::placeholder {
    color: var(--light-blue);
}

#in3 {
    border-radius: 8px;
    font-size: 16px;
    padding: 8px;
    outline: none;
    border: none;
    margin-bottom: 16px;
    resize: none;
    color: var(--blue)
}

.conatiner-screen5 button {
    background-color: var(--orange);
    color: var(--white);
    font-size: 24px;
    padding: 15px;
    border-radius: var(--border-r-sc5);
    border: none;
    cursor: pointer;
}

.conatiner-screen5 button:hover {
    transition-timing-function: ease-out;
    transition-duration: 0.2s;
    background-color: var(--light-blue);
}
/* ----------------------------------------------- */
footer {
    margin-top: 0px;
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    color: var(--light-blue);
    font-size: 24px;
    align-items: center;
    flex-direction: column;
}

.license {
    flex-basis: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3vh;

}

.doc {
    flex-basis: 1;
    flex-wrap: wrap;
    text-align: center;
    font-size: 16px;
    margin-top: 3vh;
}
.icon-item svg{
    width: 44px;
    height: 40px;
}
.doc.d1 {
    width: 0;
}
.icon-item{
    text-align: center;
}
.d1:hover {
    transition: .2s;
    color: var(--white);
}

.icon-contact {
    flex-basis: 1;
    display: flex;
    justify-content: center;
}

.icon-item {
    margin-right: 20px;
    cursor: pointer;
}

.phone:hover {
    transition: .2s;
    color: var(--white);
}

.mail:hover {
    transition: .2s;
    color: var(--white);
}

.icon-item path {
    transition: .2s;
    fill: var(--light-blue);
}

path:hover {
    transition: .2s;
    fill: var(--white);
}
}